---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'

import Heading from '../components/Heading.astro'
import Main from '../components/Main.astro'
import Paginator from '../components/Paginator.astro'
import PostList from '../components/PostList.astro'

import TagList from '../components/tag/TagList.astro'
import Layout from '../layouts/Layout.astro'
import FeaturePost from '../components/feature/FeaturePost.astro'

const page = Number(Astro.url.searchParams.get('page')) || 1

console.log("Astro global", Astro.url)

/** @todo: should come from .env file */
const postsPerPage = Number(import.meta.env.POSTS_PER_PAGE) || 6
const start = postsPerPage * (page - 1)
const end = start + postsPerPage

const allPosts = await getCollection('posts')
const featuredPosts = allPosts.filter((post) => post.data.featured)
const posts = allPosts.slice(start, end)

const allTags = allPosts.flatMap((post) => post.data.tags)
const filterTags = [...new Set(allTags)]
---

<Layout>
  <Main>
    <Heading text="Xiyuan's Blog" />
    <p class:list={['text-zinc-900 text-2xl', 'mb-24 max-sm:mb-14']}>Welcome to my blog! Here, I share my thoughts and experiences on fullstack, solution architect and developer experience.</p>

    {featuredPosts.length > 0 && featuredPosts.map((post) => <FeaturePost post={post} />)}

    <hr class:list={['w-full border', 'mb-16 max-lg:mb-10', 'border-gray-600 dark:border-gray-300']} />

    <TagList tags={filterTags} />

    <div class:list={['grid grid-cols-[auto_1fr]', 'gap-x-14 gap-y-3  mb-16 max-lg:grid-cols-1']}>
      <PostList posts={posts} />
    </div>

    <Paginator currentPage={page} numOfPosts={allPosts.length} />
  </Main>
</Layout>

<!-- 
 Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
 Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh. 
-->
